.searchBar__form {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    width: 30%;
    padding: 7px 10px;
    border-radius: 15px;
}

.searchBar__input {
    background-color: transparent;
    color: #424242;
    border: none;
    width: 90%;
}

.searchBar__button {
    background-color: #154443;
    border: none;
    color: #FEFEFE;
    padding: 5px 10px;
    margin: 0;
    border-radius: 10px;
}

