.hamburger-menu {
    width: 35px;
    height: 30px;
    position: absolute;
    left: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.line {
    width: 100%;
    height: 3px;
    background-color: #154443;
    transition: all 0.8s;
}

.change {
  left: 0;
}

.change .line-1 {
  background-color: #154443;
  transform: rotateZ(-405deg) translate(-8px, 6px);
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  background-color: #154443;
  transform: rotateZ(405deg) translate(-8px, -6px);
}