.navbar-menu {
    background-color: #F4FCFF;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -50%;
    display: flex;
    border-radius: 5px;
}

.hamburger-menu {
    width: 35px;
    height: 30px;
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: space-around;
}

.line {
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: all 0.8s;
}

.change {
  left: 0;
}

.change .line-1 {
  background-color: #154443;
  transform: rotateZ(-405deg) translate(-8px, 6px);
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  background-color: #154443;
  transform: rotateZ(405deg) translate(-8px, -6px);
}