.modal-menu {
    background-color: #F4FCFF;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 6rem;
    left: -100%;
    display: flex;
    flex-direction: column;
}

.modal__header {
    display: flex;
    justify-content: space-between;
}

.modal__icon {
    width: 35px;
    height: 30px;
    margin: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.change {
  left: 0;
}

.modal-brand-menu {
    margin: 1.5rem 0;
    padding: 0 2rem;
}

.modal__name {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
}

.modal__content {
  padding: 1rem;
}

.modal__items {
    padding: 0;
    list-style: none;
}

.modal__link {
    width: 100%;
    background-color: #fff;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    font-size: 1rem;
    color: #154443;
    border: 1px solid #154443;
}

.modal__link:hover {
    background-color: #FFF159;
}
