@media (min-width: 576px) {
    
}

@media (min-width: 768px) {
    .navbar-menu {
        width: 50%;
    }
    .modal-menu {
        width: 50%;
    }
    .navbar-principal {
        justify-content: center;
    }
}

@media (min-width: 992px) {
    .navbar-menu {
        display: none;
    }
    .filters__menu {
        display: none;
    }
    .categories__principal {
        display: block;
    }
    .catalogo {
        margin-top: 3rem;
    }
    .navbar__brand {
        display: block;
    }
    .searchBar__form {
        width: 50%;
    }
}
