@media (max-width: 575.98px) {
    .navbar-principal {
        justify-content: end;
    }
    .navbar__brand {
        display: none;
    }
    .navbar-menu {
        width: 100%;
        left: -100%;
    }
    .hamburger-menu {
        display: flex;
    }
    .change {
        left: 0;
    }
    .searchBar__form {
        width: 70%;       
    }
    .categories__principal {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .navbar__brand {
        display: none;
    }
    .hamburger-menu {
        display: flex;
    }
    .searchBar__form {
        width: 80%;
    }
    .categories__principal {
        display: none;
    }
}
@media (max-width: 991.98px) {
    .navbar__brand {
        display: none;
    }
    .hamburger-menu {
        display: flex;
    }
    .searchBar__form {
        width: 80%;
    }
    .categories__principal {
        display: none;
    }
}