.categories {
    list-style: none;
    margin: 0;
    padding: 0;
}

.categories__principal {
    display: none;
    margin-top: 2rem;
}

.category__link {
    outline: 0;
    color: #154443;
    text-decoration: none !important;
}

.category__item {
    padding: 5px;
    margin-bottom: 1rem;
}
.category__item:hover {
    background-color: #fff;
    color: #154443;
    border-radius: 15px;
}

.category__title:hover {
    font-weight: 700;
}

.category__content {
    display: flex;
    align-items: center;
}

.category__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 0 10px;
    text-align: left
}

.category__image {
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 20px;
    background-color: #fff;
}

