.productDetail {
    margin-top: 6rem;
    background-color: #fff;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.image-gallery {
    margin: 2.5rem 0;
}

.image-gallery-thumbnail {
    margin-top: 5px !important;
    border: 1px solid rgba(0,0,0,.25);
    border-radius: 5px;
}

.image-gallery-thumbnail:hover {
    border: 2px solid #3483fa !important;
}

.image-gallery-thumbnail.active {
    border: 2px solid #3483fa !important;
}

.image-gallery-thumbnail-image {
    width: auto !important;
}

.image-gallery-image {
    width: auto;
    height: 200px;
}

.generic-sumary {
    display: flex;
    margin: 1.5rem 0;
}

.generic-sumary-icon {
    width: 30px;
}
.generic-sumary-title {
    font-size: 1em;
}

.generic-sumary-subtitle {
    font-size: 1em;
    color: rgba(0,0,0,.45);
}

.ui-pdp-payment-sprites__icon-container {
    margin-right: 7px;
}

.productDetail__content {
    padding: 2rem 1rem;
    margin: 2.5rem 0;
    border: 1px solid rgba(0,0,0,.25);
    border-radius: 6px;
    font-size: 1em;
}

.productDetail__title {
    font-size: 1em;
    font-weight: 500;
    text-align: left;
}

.productDetail__price {
    font-size: 2.5em;
    font-weight: 400;
    padding: 1rem 0;
}

.productDetail__payments {
    display: flex;
    align-items: center;
    margin-top: 4px;
    flex-wrap: wrap;
}

.productDetail__text {
    margin: 1rem 0;
    font-size: 1em;
    color: #3b3b3b;
    letter-spacing: 1px;
}

.ui-pdp-payments-sprites__icon-container {
    margin-left: 0;
}

.ui-pdp-payments-sprites__icon {
    margin-left: 0;
}

.payments-small {
    background: url(https://http2.mlstatic.com/secure/payment-logos/v2/payment-logos-mla-small_v_b7642bed7b.png) no-repeat;
}

._visa-small {
    width: 34px;
    height: 11px;
    background-position: left -427px;
}

._master-small {
    width: 26px;
    height: 20px;
    background-position: left -1159px;
}

._cabal-small {
    width: 56px;
    height: 19px;
    background-position: left -347px;
}

._amex-small {
    width: 22px;
    height: 19px;
    background-position: left -20px;
}

.ui-pdp-media__figure {
    margin-right: 10px;
}

.btn-buy {
    display: block;
    width: 100%;
    margin: .5rem 0;
    padding: 1rem;
    border: none;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    background-color: #3483FA;
    color: #fff;
    font-weight: 400;
    font-size: 1em;
    outline: none;
}

.btn-buy:hover{
    border: none;
    text-decoration: none;
    color: #fff;
    outline: none;
    background-color: #2968c8;
}